<ion-header>

  <ion-navbar>
    <ion-title>{{ title }}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
  <form [formGroup]="testForm" (ngSubmit)="onSave()">

    <ion-item no-lines>
      <ion-label stacked primary>Name</ion-label>
      <ion-input id="name" formControlName="name" type="text" ngDefaultControl></ion-input>
    </ion-item>
    <p *ngIf="formErrors.name" color="danger" class="validation" padding-left>
      {{ formErrors.name }}
    </p>

    <ion-item no-lines>
      <ion-label stacked primary>Description</ion-label>
      <ion-textarea rows="4" id="description" formControlName="description" type="text" ngDefaultControl></ion-textarea>
    </ion-item>
    <p *ngIf="formErrors.description" color="danger" class="validation" padding-left>
      {{ formErrors.description }}
    </p>

    <ion-row responsive-sm padding>
      <ion-col>
        <button ion-button type="submit" [disabled]="!testForm.valid" block>Save</button>
      </ion-col>
      <ion-col>
        <button ion-button (click)="onCancel()" color="light" block>Cancel</button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>