<ion-header>

  <ion-navbar>
    <ion-title>{{ title }}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="add()">
        <ion-icon name="add-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>
  <ion-item-group *ngFor="let category of categories">
    <ion-item-divider color="light">{{ category?.value }}</ion-item-divider>
    <ion-item *ngFor="let question of getQuestions(category)" (click)="goToQuestion(question)">
      <h2>{{ question?.value }}</h2>
    </ion-item>
  </ion-item-group>
</ion-content>
