<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      {{ title }}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <img src="http://placehold.it/800x200">

  <form [formGroup]="loginForm" (submit)="onLogin()" novalidate>

    <ion-item no-padding no-lines>
      <ion-label stacked>Email</ion-label>
      <ion-input #email formControlName="email" type="email" placeholder="Your email address" [class.invalid]="!loginForm.controls.email.valid && loginForm.controls.email.dirty"></ion-input>
    </ion-item>
    <p class="error-message" *ngIf="!loginForm.controls.email.valid && loginForm.controls.email.dirty">
      Please enter a valid email.
    </p>
    <!--<ion-item class="error-message" *ngIf="!loginForm.controls.email.valid  && loginForm.controls.email.dirty">
      <p>Please enter a valid email.</p>
    </ion-item>-->

    <ion-item no-padding no-lines>
      <ion-label stacked>Password</ion-label>
      <ion-input #password formControlName="password" type="password" placeholder="Your password" [class.invalid]="!loginForm.controls.password.valid && loginForm.controls.password.dirty"></ion-input>
    </ion-item>
    <p class="error-message" *ngIf="!loginForm.controls.password.valid  && loginForm.controls.password.dirty">
      Your password needs more than 6 characters.
    </p>

    <ion-row responsive-sm padding-top>
      <ion-col>
        <button ion-button type="submit" block>Login</button>
      </ion-col>
    </ion-row>

  </form>

  <ion-row responsive-sm>
    <ion-col>
      <button ion-button (click)="onResetPassword()" color="light" block>I forgot my password</button>
    </ion-col>
    <ion-col>
      <button ion-button (click)="onSignup()" block>Create a new account</button>
    </ion-col>
  </ion-row>

</ion-content>